body {
  background-image: url('/imgs/gayfishpic.png');
  background-size: contain;
}

h1 {
  margin: auto;
  margin-top: 3%;
  max-width: 60%;
  background-color: #337298;
  text-align: center;
  padding: 1%;
  border-radius: 5%;
}

div {
  margin: auto;
  margin-top: 2%;
  max-width: 70%;
  background-color: #73cfea;
  text-align: center;
  border-radius: 8%;
  padding: 1%;
}

h2 {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

p {
  margin: auto;
  max-width: 80%;
  text-align: center;
}
  
