body {
  background-image: url('/imgs/gradient.png');
  background-size: 12.5%;
}

h1 {
  margin: auto;
  margin-top: 3%;
  max-width: 40%;
  background-color: #337298;
  text-align: center;
  padding: 1%;
  border-radius: 20%;
  outline-style: groove;
  outline-color: #1E2D59;
  outline-width: 8px;
}

div {
  margin: auto;
  margin-top: 2%;
  max-width: 50%;
  background-color: #73cfea;
  text-align: center;
  border-radius: 20%;
  outline-style: groove;
  outline-color: #2b377f;
  outline-width: 8px;
}

div.footbar {
  margin: auto;
  margin-top: 2%;
  max-width: 70%;
  background-color: #96d6e8;
  text-align: center;
  border-radius: 5%;
  padding: 1%;
  outline-style: groove;
  outline-color: #2b377f;
  outline-width: 8px;
}

div.fih {
  border-radius: 0%;
  border: 5px groove #676767;
  margin: 2% auto 2%;
  background-color: white;
}

img.fih {
  max-width: 100%;
  max-height: auto;
}

img.gradient2 {
  background-image: url(/imgs/gradient2.png);
  background-repeat: repeat-x;
  z-index: -1;
  background-position: center;
  background-attachment: scroll;
  opacity: 0.8;

h2 {
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 1%;
}

p {
  margin: auto;
  max-width: 80%;
  text-align: center;
}

p.fih {
  padding: 10px;
}
  
