body {
  background-color: blue;
}

h1 {
  margin: auto;
  margin-top: 5%;
  max-width: 80%;
  background-color: #337298;
  text-align: center;
}

h2 {
  margin: auto;
  max-width: 70%;
  background-color: #73cfea;
  text-align: center;
}

p {
  margin: auto;
  max-width: 80%;
  background-color: white;
  text-align: center;
}
  
